header {
  background: #9cba95;
  padding: 1rem 1rem;
  text-align: center;
}
.note {
  font-size: 13px;
  position: absolute;
  bottom: 0;
}
.home-link {
  float: left;
  margin-top: -10px;
  margin-left: -10px;
}
.form-group label {
  font-size: 14px;
  font-weight: 500;
}
.small-text {
  font-size: 12px;
}
